@import 'common/common';

.App {
  max-width: em(840);
  margin: 0 auto;
}

.App-main {
}

.App-header {
  display: flex;
  align-items: center;
  padding: 1em 0;
  margin-bottom: 2em;

  .App-logo {
    margin-right: 1.2em;
  }
}

.App-logo {
  width: 3em;
  height: 3em;
}

.App-heading {
  color: #F1C76B;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0;
}

.App-nav {
  margin-left: 2em;
  margin-right: auto;

  ul > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover, &.active {
      color: white;
    }
  }
}